<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="constr" connectionString="database= Shiping_Project; data source=RAJAT-PC\SQLEXPRESS; integrated security=true" />
    <add name="Shiping_ProjectConnectionString" connectionString="Data Source=RAJAT-PC\SQLEXPRESS;Initial Catalog=Shiping_Project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Shiping_ProjectEntities" connectionString="metadata=res://*/Shiping_Project.csdl|res://*/Shiping_Project.ssdl|res://*/Shiping_Project.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RAJAT-PC\SQLEXPRESS;initial catalog=Shiping_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Shiping_ProjectConnectionString2" connectionString="Data Source=RAJAT-PC\SQLEXPRESS;Initial Catalog=Shiping_Project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>